* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(//media1.tenor.com/images/8470dab55b7d5e9383b1e8f1fe946a5d/tenor.gif?itemid=10704576);
  color: white;
}

.result {
  font-size: 5.2em;
  font-family: "Righteous", cursive;
}

.hide {
  display: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-size: 1.4em;
}

.grid {
  width: 650px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 18px;
  border-radius: 5px;
}

.grid div {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 50%;
}

.player {
  border: 1px solid white;
}

.player-one {
  background-color: red;
  background-image: url(../images/empire.png);
  background-size: cover;
  border-radius: 50%;
  transition: ease-in-out 0.7s;
  box-shadow: 1px 1px 8px 6px white;
}

.player-two {
  background-color: white;
  background-image: url(../images/rebel.png);
  background-size: cover;
  border-radius: 50%;
  transition: ease-in-out 0.7s;
  box-shadow: 1px 2px 8px 6px white;
}

.player-container {
  margin-top: 4%;
}

.current-player {
  text-align: center;
  font-size: 2.8em;
  font-family: "Righteous", cursive;
}
