.grid {
  border: 1px solid;
  width: 140px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.player-one {
  background-color: red;
  border-radius: 10px;
}

.player-two {
  background-color: rgb(0, 110, 255);
  border-radius: 10px;
}
